body {
    background: linear-gradient(180deg, #18A5A7, #b6C0C5);
    background-repeat: no-repeat;
    height: 100vh;
}

.contain {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 700px;
    border-radius: 10px;
}

.form-label {
    font-weight: bold;
    font-size: 18px;
}

.btnSubmit {
    float: right;
}